.build/
.swiftpm/
DerivedData/
.env
*.p8
*.txt
screens/
supabase/.temp/

# Android & Gradle
android/.gradle/
android/build/
android/*/build/
android/local.properties
android/.cxx/
android/.idea/
**/.idea/
android/*.iml
android/*/*.iml
*.apk
*.aab
*.keystore
*.jks
