//
// Config.xcconfig
// ScriptFlip
//

SLASH = /
SUPABASE_URL = https:$(SLASH)/tcgonpbwenimvilzquoz.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjZ29ucGJ3ZW5pbXZpbHpxdW96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyOTc0MDQsImV4cCI6MjEwMTg3MzQwNH0.BMVRR6wcnLa_mSsyzgS66xDHCqlu1j2PG3k2mKoVG_U
REVENUECAT_API_KEY = appl_pcnOuyAgmkrXhYeYebsKaeqhlaF

OTHER_LDFLAGS = $(inherited)
